{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Ajout des compétences</h1>
        </div>
        <div class="large-12 columns">
            <label>
                Matière :
                <select class="select2">
                    <option selected value="valeur_brute">Valeur 1</option>
                    <option value="v2">Valeur 2</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>
                Sélection groupe de compétence
                <select class="select2">
                    <option selected value="valeur_brute">Valeur 1</option>
                    <option value="v2">Valeur 2</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns container_cpt" id="container_cpt">
            <label>
                Nom des compétences
                <input type="text" placeholder="saisir competence" class="autoCreate">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <input type="submit" class="button" value="Enregistrer">
        </div>
    </div>
{% endblock %}