{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <div class="header_page">
        <div class="row">
            <div class="section">
                <div class="section-text">
                    <h1>Autoévaluation de @User_eleve</h1>
                    <p>Autoévaluer vous pour vous donner une idée de votre note...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container_page">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Matiere
                    <select class="select2">
                        {% for matiere in matieres %}

                            <option value="{{ matiere['id']}}">{{ matiere['nom'] }}</option>

                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="large-12 columns">
                <input type="search" id="search" placeholder="Rechercher..."/>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" id="bloc_eval">
                <table id="data_bilan_eleve">
                    <thead>
                    <tr>
                        <th>Nom de la compétence</th>
                        <th>Autoévaluation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Maitriser les bases Visual Basic</td>
                        <td>
                            <select id="example">
                                <option value="1">A chier</option>
                                <option value="2">Toujours nul</option>
                                <option value="3">Potable</option>
                                <option value="4">Cool</option>
                                <option value="5">Dieu</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Notions d'héritage en Java</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Serialisation en C#</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}