{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <div class="header_page">
        <div class="row">
            <div class="section">
                <div class="section-text">
                    <h1>Bilan de @User_eleve</h1>
                    <p>Voici le récapitulatif de toutes vos notes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table id="data_bilan_eleve">
                <thead style="width:400px;">
                <tr>
                    <th>Nom de la compétence</th>
                    <th>Note</th>
                    <th>Autoévaluation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Compétence 1</td>
                    <td style="background: red; width: 200px;"></td>
                    <td style="background: green; width: 200px;"></td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}