{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <div class="row">
        <div class="large-3 columns">
            <br>
            <label>
                Choisissez une épreuve :
                <select class="select2">
                    <option selected>Epreuve 1</option>
                    <option>Epreuve 2</option>
                </select>
            </label>
        </div>
        <div class="large-3 columns">
            <br>
            <label>
                Choisissez une épreuve :
                <select class="select2">
                    <option selected>Epreuve 1</option>
                    <option>Epreuve 2</option>
                </select>
            </label>
        </div>
        <div class="large-3 columns">
            <br>
            <label>
                Choisissez une épreuve :
                <select class="select2">
                    <option selected>Epreuve 1</option>
                    <option>Epreuve 2</option>
                </select>
            </label>
        </div>
        <div class="large-3 columns">
            <br>
            <label>
                Choisissez une épreuve :
                <select class="select2">
                    <option selected>Epreuve 1</option>
                    <option>Epreuve 2</option>
                </select>
            </label>
        </div>
    </div>
{% endblock %}