{% extends "CompetenceBundle::layout.html.twig" %}
{% block header %}
     {{ parent() }}
    <link rel="newest stylesheet" href="{{ asset('public/css/jquery.dynatable.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Bilan élève</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table id="data_bilan_eleve">
                <thead style="width:400px;">
                <tr>
                    <th>Nom de la compétence</th>
                    <th>Note</th>
                    <th>Autoévaluation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Compétence 1</td>
                    <td style="background: red; width: 200px;"></td>
                    <td style="background: green; width: 200px;"></td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Content Goes Here</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('public/js/jquery.dynatable.js') }}"></script>
    <script>
        $('#data_bilan_eleve').dynatable();
    </script>
{% endblock %}