{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}

    <script>

            let a = {{ path('bilen_eleve_gen')}};
            console.log(a);

    </script>
    <div class="header_page">
        <div class="row">
            <div class="section">
                <div class="section-text">
                    <h1>Bilan de @User_eleve</h1>
                    <p>Voici le récapitulatif de toutes vos notes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container_page">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Matiere
                    <select class="select2" id="sMatiere">
                        {% for matiere in matieres %}

                            <option value="{{ matiere['id']}}">{{ matiere['nom'] }}</option>

                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <br>
                <input type="submit" class="button" name="Consulter" value="Consulter">
            </div>
        </div>
        <div class="row">
           <div class="large-12 columns">
               <input type="search" id="search" placeholder="Rechercher..."/>
           </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <table id="data_bilan_eleve">
                    <thead>
                    <tr>
                        <th>Nom de la compétence</th>
                        <th>Note</th>
                        <th>Autoévaluation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Maitriser les bases Visual Basic</td>
                        <td>
                            <select id="example">
                                <option value="1">A chier</option>
                                <option value="2">Toujours nul</option>
                                <option value="3">Potable</option>
                                <option value="4">Cool</option>
                                <option value="5">Dieu</option>
                            </select>
                        </td>
                        <td>
                            <select id="example2">
                                <option value="1">A chier</option>
                                <option value="2">Toujours nul</option>
                                <option value="3">Potable</option>
                                <option value="4">Cool</option>
                                <option value="5">Dieu</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Notions d'héritage en Java</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Serialisation en C#</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}