{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <div class="header_page">
        <div class="row">
            <div class="section">
                <div class="section-text">
                    <h1>Evaluer simplement</h1>
                    <p>Cette page permet d'évaluer un apprenant sans nécéssairement créer une épreuve.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container_page">
        <div class="row">
            <div class="large-12 columns" style="text-align: center;">
                <h1 style="margin-top: 10%; margin-bottom: 10%;">CREATION EN COURS...</h1>
            </div>
        </div>
    </div>
{% endblock %}