{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="large-12 columns">
            TEXTE EVALUER
        </div>
    </div>
{% endblock %}