<footer class="footer">
    <div class="row medium-unstack">
        <div class="medium-4 columns">
            <h4 class="footer-name">Liens divers</h4>
            <div class="reveal" id="exampleModal1" data-reveal>
                <h1>Nous contacter</h1>
                <p class="lead">Titre du modal</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur mollis tincidunt. Aenean eget lacinia sapien. Aenean id nisi erat. Proin sagittis gravida aliquet. Aliquam ut semper justo. In auctor eu sapien quis vulputate. Maecenas a sapien velit. Quisque a elementum augue. Cras lacinia id diam sit amet commodo. Praesent malesuada id orci in luctus. Donec nec elementum ex. Sed lectus lorem, consectetur non mattis vel, malesuada at neque. Ut at blandit tortor. Vestibulum ut efficitur sem.</p>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p><a data-open="exampleModal1">Contact</a></p></li>
            <div class="reveal" id="exampleModal2" data-reveal>
                <h1>Nous certifions que ...</h1>
                <p class="lead">Titre éventuel</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur mollis tincidunt. Aenean eget lacinia sapien. Aenean id nisi erat. Proin sagittis gravida aliquet. Aliquam ut semper justo. In auctor eu sapien quis vulputate. Maecenas a sapien velit. Quisque a elementum augue. Cras lacinia id diam sit amet commodo. Praesent malesuada id orci in luctus. Donec nec elementum ex. Sed lectus lorem, consectetur non mattis vel, malesuada at neque. Ut at blandit tortor. Vestibulum ut efficitur sem.</p>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p><a data-open="exampleModal2">Mentions légales</a></p></li>
            <p><a href="#">Sitemap</a></p>
        </div>
        <div class="medium-4 columns">
            <h4 class="footer-name">Coordonnées</h4>
            <div class="marketing-site-footer-block">
                <p><img src='public/img/svgs/fi-marker.svg' class="icon_f">133 Rue Marius Berliet, 69008 Lyon</p>
            </div>
            <div class="marketing-site-footer-block">
                <p><img src='public/img/svgs/fi-telephone.svg' class="icon_f">00 00 00 00 00</p>
            </div>
            <div class="marketing-site-footer-block">
                <p><img src='public/img/svgs/fi-mail.svg' class="icon_f">adresse@adresse.com</p>
            </div>
        </div>
        <div class="medium-4 columns">
            <h4 class="footer-name">Réseaux sociaux</h4>
            <div class="row small-up-3 img_social">
                <div class="column column-block">
                    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1024px-F_icon.svg.png"  alt="fb_icon" /></a>
                </div>
                <div class="column column-block">
                    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2000px-Instagram_logo_2016.svg.png" alt="instagram_icon" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row large-unstack align-middle">
            <div class="column">
                <p>2017 Ragout Simosex Kevin</p>
            </div>
        </div>
    </div>
</footer>