{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <style>
        .hideme {
            opacity: 0;
        }
    </style>
    <div id="bloc_accueil">
        <div id="accueil">
            <div class="section">
                <div class="section-text">
                    <h1>Bienvenue</h1>
                    <p>Merci de faire confiance à Harambus Corporation !</p>
                </div>
            </div>
        </div>
        <div  id="pave_1">
            <div class="row">
                <div class="large-12 columns">
                    <br>
                    <h1>Titre 1 :</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempus convallis sapien, a tincidunt est mattis sed. Nulla auctor mi eu arcu vehicula consectetur. Vestibulum dignissim dui eros. Vestibulum accumsan a libero at tempor. Aliquam nec sapien tortor. Maecenas neque libero, pellentesque fringilla arcu et, vestibulum faucibus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut vehicula id dolor et molestie. Aenean dapibus eget neque ut commodo. Nulla facilisi. Cras nisl erat, vehicula id lorem sed, aliquet luctus turpis. Curabitur ac posuere ex, nec maximus tellus. Cras est libero, aliquam vitae enim et, elementum iaculis orci.

                        Praesent egestas iaculis neque. Fusce a diam non leo varius semper. Nunc commodo eu est sed vehicula. Cras tempor, turpis nec tristique porttitor, mauris augue condimentum urna, aliquam laoreet felis nisi ac elit. Suspendisse semper diam et neque mollis porta. Sed et quam ut neque pharetra dapibus. Nulla aliquet arcu sit amet ullamcorper porttitor. In scelerisque purus non ligula fringilla commodo at in enim. Pellentesque sapien urna, auctor in dictum vehicula, varius vitae quam. Vestibulum scelerisque augue ac purus tempor fringilla. Aenean viverra faucibus facilisis. Vivamus ornare finibus arcu, et pellentesque erat iaculis in. Curabitur vestibulum ultricies libero in imperdiet.

                        Vivamus tristique nulla a dolor accumsan, at imperdiet orci rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ut blandit dolor. Nulla facilisi. Suspendisse arcu felis, volutpat blandit faucibus et, faucibus vitae nibh. Vestibulum vel varius nibh. Aenean sed magna in nulla imperdiet consectetur a sed dui. Etiam viverra nisl vitae suscipit vestibulum. Cras nisi sapien, mattis vitae libero quis, cursus luctus massa. Phasellus sapien lacus, tincidunt vel urna non, pretium consequat ante.</p>
                </div>
            </div>
        </div>
        <div id="pave_2">
            <div class="row">
                <div style="color:white;" class="large-12 columns">
                    <br>
                    <div class="hideme">
                        <h1>Ils nous font confiance :</h1>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    </div>
                    <div class="row small-up-2 medium-up-3 hideme">
                        <div class="column">
                            <div class="card">
                                <img src="https://68.media.tumblr.com/82637d43251a396a641cebd62eef4c68/tumblr_oogjwoHkXF1uy4xxuo1_500.jpg" class="card">
                                <div class="card-section">
                                    <h4>Unbreakable Patches</h4>
                                    <p>Friendly, dw !</p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <img src="https://s-media-cache-ak0.pinimg.com/originals/53/25/8b/53258beca960dc4a7bbd11c6a36279ed.jpg" class="card">
                                <div class="card-section">
                                    <h4>Firekeeper</h4>
                                    <p>Restat build one-shot seems legit</p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <img src="https://i.ytimg.com/vi/_Zfmj_tXLB0/maxresdefault.jpg" class="card">
                                <div class="card-section">
                                    <h4>Pepe</h4>
                                    <p>Pepe is everywhere</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns hideme"  style="text-align: center; padding: 10%">
                <h1>Le windev c'est vraiment bien.</h1>
                <br>
                <br>
                <br>
                <div class="large-4 columns">
                    <i class="fa fa-5x fa-paypal" aria-hidden="true"></i>
                    <br>
                    <br>
                    <h5>Class aptent taciti</h5>
                    <p>imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </p>
                </div>
                <div class="large-4 columns">
                    <i class="fa fa-5x fa-cc-visa" aria-hidden="true"></i>
                    <br>
                    <br>
                    <h5>Class aptent taciti</h5>
                    <p>Lorem ipsum dolt nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. .</p>
                </div>
                <div class="large-4 columns">
                    <i class="fa fa-5x fa-eur" aria-hidden="true"></i>
                    <br>
                    <br>
                    <h5>Class aptent taciti</h5>
                    <p>Lorem ipsum h elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <blockquote class="imgur-embed-pub" lang="en" data-id="0yrgP4P"><a href="//imgur.com/0yrgP4P">My little gift to PCMR community</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            </div>
            <div class="large-6 columns">
                <blockquote class="imgur-embed-pub" lang="en" data-id="0yrgP4P"><a href="//imgur.com/0yrgP4P">My little gift to PCMR community</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
{% endblock %}