{% extends "CompetenceBundle::layout.html.twig" %}
{% block menu %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="login">
                <form action="/" method="POST">
                    <label> Nom de compte :
                        <input type="text" name="nom" required>
                    </label>
                    <label> Mot de passe :
                        <input type="password" name="nom" required>
                    </label>
                    <input type="submit" value="Se connecter" class="button expanded">
                    <div class="row">
                        <div class="large-2 columns">
                            <a href="#" class="help-text">Mot de passe oublié ?</a>
                        </div>
                        <div class="large-10 columns">
                            <label>
                                <input type="checkbox" name="remember" >
                                Retenir mon identifiant
                            </label>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}