{% extends "CompetenceBundle::layout.html.twig" %}
{% block menu %}{% endblock %}
{% block content %}
    <div style="background:url('https://images7.alphacoders.com/787/thumb-1920-787597.jpg');">
        <div class="row">
            <div class="large-offset-2 large-8 columns">
                <div class="login">
                    <form action="/" method="POST">
                        <label> Nom de compte :
                            <input type="text" name="nom" required>
                        </label>
                        <label> Mot de passe :
                            <input type="password" name="nom" required>
                        </label>
                        <input type="submit" value="Se connecter" class="button expanded">
                        <div class="row">
                            <div class="large-4 columns">
                                <a href="#" class="help-text">Mot de passe oublié ?</a>
                            </div>
                            <div class="large-8 columns">
                                <label style="font-size: 80%">
                                    <input type="checkbox" name="remember" >
                                    Retenir mon identifiant
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}