<ul class="nav nav-pills nav-stacked">
    {% for list in listMenu %}
        <li>
            <a href="{{ path('menu_t', {'id': list.id}) }}">
                {{ list.title }}
            </a>
        </li>
    {% endfor %}
</ul>