<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="vertical menu" >
                <!-- On fait une boucle if pour check la route, si elle correspond, on utilise la classe active qui permet de mettre un background -->
                <li class="{% if app.request.attributes.get('_route') == 'competence_homepage' %}active{% endif %}"><a href="/"><i class='fa fa-2x fa-home icon'></i>Accueil</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'bilan' %}active{% endif %}"><a href="/bilan"><i class="fa fa-2x fa-book icon"></i>Bilan Prof</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'bilan_eleve' %}active{% endif %}"><a href="/bilan_eleve"><i class="fa fa-2x fa-bookmark icon"></i>Bilan Eleve</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'autoevaluer' %}active{% endif %}"><a href="#"><i class='fa fa-2x fa-eye icon'></i>S'autoévaluer</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'evaluer' %}active{% endif %}"><a href="/evaluer"><i class="fa fa-2x fa-address-book icon"></i>Evaluer</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'creer_epreuve' %}active{% endif %}"><a href="/creer_epreuve"><i class="fa fa-2x fa-folder-open-o"></i>Créer épreuve</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'ajouter_competence' %}active{% endif %}"><a href="/ajouter_competence"><i class="fa fa-2x fa-file-code-o icon"></i>Ajouter compétence</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'deconnexion' %}active{% endif %}"><a href="/login"><i class="fa fa-2x fa-sign-out icon"></i>Se déconnecter</a></li>
            </ul>
        </div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar">
            <span id="nom_user">Bonjour User, vous êtes sur la page :</span>
            {% if app.request.attributes.get('_route') == 'competence_homepage' %}<span class="page">Accueil</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'bilan' %}<span class="page">Bilan Prof</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'bilan_eleve' %}<span class="page">Bilan Eleve</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'autoevaluer' %}<span class="page">S'autoévaluer</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'evaluer' %}<span class="page">Evaluer</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'creer_epreuve' %}<span class="page">Créer épreuve</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'ajouter_competence' %}<span class="page">Ajouter compétence</span>{% endif %}
            {% if app.request.attributes.get('_route') == 'deconnexion' %}<span class="page">Se déconnecter</span>{% endif %}
            <div class="title-bar-right">
                <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
            </div>
        </div>
    </div>
</div>
</div>